In [1]:
import pandas as pd

In [2]:
raw_data_dir = '../data/raw/'
interim_data_dir = '../data/interim/'
processed_data_dir = '../data/processed/'
external_data_dir = '../data/external/'

Get data from gsheet

In [3]:
%%bash
cd ..
make update_data
cd -

while read a b;do rsync -rauLih --progress --delete --include-from=data/raw/include_list.txt   data/raw/$a data/raw/$b;done < data/raw/dir_list.txt
python  src/data/get_external_data.py
/Users/sperez/Projects/electroporation_modeling/notebooks

Concatenate it and write it

In [4]:
list_dataframes = []
for i in ['por1', 'por2', 'por3', 'por4', 'non1', 'non2', 'non3', 'non4']:
    df = pd.read_csv(f'{external_data_dir}{i}.csv').drop('Unnamed: 0', axis=1)
    df['membrane'] = i
    list_dataframes.append(df)

In [5]:
df  = pd.concat(list_dataframes)

In [6]:
df

,xp (A),yp (A),tp (ns),thickness (A),mean curvature,apl,lipid order,membrane
0,63,119,1.4,31.726623,0.005068,74.286328,0.117472,por1
1,196,296,2.8,31.007392,-0.022442,90.877349,0.211274,por1
2,164,96,5.2,27.029021,-0.069034,70.429585,0.196442,por1
3,253,130,3.4,26.889139,0.037281,73.119575,0.187620,por1
4,228,163,4.2,29.676475,-0.020645,60.521201,0.103665,por1
...,...,...,...,...,...,...,...,...
295,50,290,NaN,34.452100,-0.036453,59.112031,0.127440,non4
296,100,160,NaN,35.765162,0.007322,61.151208,0.179697,non4
297,270,160,NaN,35.746662,-0.009054,84.821202,0.150647,non4
298,220,0,NaN,36.012431,-0.018105,69.988901,0.160694,non4
299,300,100,NaN,35.986852,-0.001934,73.110032,0.186118,non4

In [7]:
df.to_csv(f'{processed_data_dir}data.csv')